/* Стилизация кнопки */
.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.buttons__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 189px;
  height: 48px;
  border-radius: 8px;
  padding: 15px 0px 14px 0px;
  margin-right: 33px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
.buttons__primary {
  background: #4263eb;
  color: #ffffff;
  border: 1px solid #4263eb;
  transition: background-color 1s;
}
.buttons__primary:hover,
.buttons__primary:active,
.buttons__primary:focus {
  background: #2342c0;
  border: 1px solid #2342c0;
  cursor: pointer;
}
.buttons__primary_disabled {
  opacity: 0.5;
}
.buttons__primary_disabled:hover {
  background: #4263eb;
  border: 1px solid #4263eb;
  cursor: not-allowed;
}
.buttons__secondary {
  background: #7048e8;
  color: #ffffff;
  border: 1px solid #7048e8;
  transition: background-color 1s;
}
.buttons__secondary:hover,
.buttons__secondary:active,
.buttons__secondary:focus {
  background: #5028c6;
  border: 1px solid #5028c6;
  cursor: pointer;
}
.buttons__secondary_disabled {
  opacity: 0.5;
}
.buttons__secondary_disabled:hover {
  background: #7048e8;
  border: 1px solid #7048e8;
  cursor: not-allowed;
}
.buttons__alternate {
  background: #ffffff;
  color: #495057;
  border: 1px solid #495057;
  transition: background-color 1s;
}
.buttons__alternate:hover,
.buttons__alternate:active,
.buttons__alternate:focus {
  border: 1px solid #212429;
  cursor: pointer;
}
.buttons__alternate_disabled {
  opacity: 0.5;
}
.buttons__alternate_disabled:hover {
  border: 1px solid #495057;
  cursor: not-allowed;
}
