/*Убрать маркер*/
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.accordion > .accordion__item {
  list-style: none;
}
.accordion {
  border: 1px solid black;
  border-radius: 8px;
  padding: 24px 32px;
  margin-bottom: 8px;
}
.accordion:last-child {
  margin-bottom: 0px;
}
.accordion_text-style {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.accordion__content {
  margin-top: 16px;
}
