/* Стилизация аккордеона */
/* Убираем стандартный маркер Chrome */
details summary::-webkit-details-marker {
  display: none;
}
/* Убираем стандартный маркер Firefox */
details > summary {
  list-style: none;
}
/* Добавляем собственный маркер для закрытого состояния */
details summary:before {
  content: url('/03-lection1/02-accordion/icon.svg');
  position: absolute;
  top: 0;
  right: 0;
}
/* Добавляем собственный маркер для открытого состояния */
details[open] summary:before {
  transform: rotate(180deg);
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.accordion {
  width: 730px;
  border: 1px solid black;
  border-radius: 8px;
  margin-bottom: 10px;
  padding: 24px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.accordion:last-child {
  margin-bottom: 0;
}
.accordion__summary {
  color: #495057;
  position: relative;
}
.accordion__item {
  color: #495057;
}
