body {
  color: white;
}
.c-header {
  background-color: red;
  text-align: center;
}
.c-header__title,
.c-footer__title {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 3em;
}
.c-header__nav {
  background-color: orange;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
}
.c-header__link {
  color: white;
  font-size: 1.5em;
}
.c-header__link:not(:last-child) {
  margin-right: 10px;
}
.l-main {
  background-color: green;
  padding: 10px;
}
.c-article {
  background-color: blue;
  padding: 10px;
}
.c-article:last-child {
  margin-top: 10px;
}
.c-article__title {
  margin: 0px;
}
.c-article__list {
  margin-top: 10px;
  margin-bottom: 10px;
}
.c-footer {
  background-color: purple;
  text-align: center;
}
